<h2>Question 1<h2>

In [14]:
#Dictionary
d1= {"first_name":"daniyal",
     "last_name":"hamid",
     "age":19,
     "city":"karachi"}

#printing each items
for k,d in d1.items():
  print(k," : ",d)

print("\n")

#adding a new key
d1["qualification"]=""
print(d1)

#update a kay
d1["qualification"]="intermediate"
print(d1)

#deleting a key and value
del d1["qualification"]
print(d1)

first_name  :  daniyal
last_name  :  hamid
age  :  19
city  :  karachi


{'first_name': 'daniyal', 'last_name': 'hamid', 'age': 19, 'city': 'karachi', 'qualification': ''}
{'first_name': 'daniyal', 'last_name': 'hamid', 'age': 19, 'city': 'karachi', 'qualification': 'intermediate'}
{'first_name': 'daniyal', 'last_name': 'hamid', 'age': 19, 'city': 'karachi'}

<h2>Question 2</h2>

In [15]:
cities={
        "karachi":{
                    "country":"Pakistan",
                    "population":"14 million",
                    "fact":"City of lights"
                    },
        "lahore":{
                    "country":"Pakistan",
                    "population":"11 million",
                    "fact":"City of food"
                  },
        "islamabad":{
                    "country":"Pakistan",
                    "population":"1 million",
                    "fact":"Capital of Pakistan"          
                   }
      }

for k,v in cities.items():
  print(k.capitalize(),"\n")
  for d,e in v.items():
    print(d.capitalize()," : ",e.capitalize())
  print()

Karachi

Country  :  Pakistan
Population  :  14 million
Fact  :  City of lights

Lahore

Country  :  Pakistan
Population  :  11 million
Fact  :  City of food

Islamabad

Country  :  Pakistan
Population  :  1 million
Fact  :  Capital of pakistan

<h1>Question 3</h1>

In [16]:

while True:
  age=int(input("Enter your age !"))
  if age <3:
    print("Your ticket is Free")
  elif age >=3 and age <=12:
    print("Your ticket is for 10$")
  elif age > 12:
    print("Your ticket is for 15$")
  
  d = input("Do you wanna ask again  ?(y/n)")
  if d.lower() == "n":
    break

Enter your age !2
Your ticket is Free
Do you wanna ask again  ?(y/n)y
Enter your age !3
Your ticket is for 10$
Do you wanna ask again  ?(y/n)y
Enter your age !6
Your ticket is for 10$
Do you wanna ask again  ?(y/n)y
Enter your age !12
Your ticket is for 10$
Do you wanna ask again  ?(y/n)y
Enter your age !13
Your ticket is for 15$
Do you wanna ask again  ?(y/n)n

<h2>Question 4</h2>

In [20]:
def favorite_book(title):
  return "My favorite book title is "+title

msg = favorite_book("internet of thinges")
print(msg)

My favorite book title is internet of thinges

<h2>Question 5</h2>

In [18]:
import random
r=random.randrange(1,31)
i = 3
while True:
  
  if i==0:
    print("You have no turn left !")
    break
  a=int(input("Enter a number !"))
  if r==a:
    print("Your answer is correct")
    break
  elif r>a:
    print("Try a larger number !")
    print("Remaining turn",i-1)
  elif r<a:
    print("Try a smaller number !")
    print("Remaining turn",i-1)
  i = i - 1

Enter a number !15
Try a larger number !
Remaining turn 2
Enter a number !23
Try a larger number !
Remaining turn 1
Enter a number !27
Your answer is correct