<h3>Question 1</h3>

In [0]:

num1= int(input("Enter the First Number ! "))
num2= int(input("Enter the Second Number ! "))
op= input("Enter the Operater to Calculate ! ")
if op =='+' :
    num=num1 +num2
    print(num)
elif op == '-' :
    num= num1 - num2
    print(num)
elif op == '*' :
    num= num1 * num2
    print(num)
elif op == '/' :
    num= num1 / num2
    print(num)
else :
    print("Enter the correct Operater ! ")

Enter the First Number ! 43
Enter the Second Number ! 2
Enter the Operater to Calculate ! +
45

<h3>Question 2</h3>

In [0]:
arry = [2, 'aslam','aqib','aazam']
for num in arry:
    if type(num) ==  int:
        print("Your list contain a number !")
        break
        
    else :
        print("List dose not contain a number !")
        break

Your list contain a number !

<h3>Question 3</h3>

In [0]:
marks = {"daniyal":"24", "adeel":"12", "wahaj":"56"}
print(marks)

marks["maaz"]='11'
print(marks)

{'daniyal': '24', 'adeel': '12', 'wahaj': '56'}
{'daniyal': '24', 'adeel': '12', 'wahaj': '56', 'maaz': '11'}

<h3>Question 4</h3>

In [0]:
d = {"daniyal":'24', "hassan":2, "wahaj":6}
totalValues=0
for i in d.values():
    if type(i) == int:
        totalValues += i

print(totalValues)

8

<h3>Question 5</h3>

In [0]:
a = [1,2,3,2,1,5,6,'s','s',5,5,5]

import collections
print([item for item, count in collections.Counter(a).items() if count > 1])

[1, 2, 5, 's']

<h3>Question 6</h3>

In [0]:
d2 = {"item1":"itemvalue1","item2":"itemvalue2","item3":"itemvalue3"}

givenkey = "item9"

if givenkey in d2:
    print("'",givenkey,"' key exits in the dictionary")
else:
    print("'",givenkey,"' key does not exit in the dictionary")

' item9 ' key does not exit in the dictionary